<!-- <nav>
  <div class="menu-toggle" (click)="toggleNav()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="nav-links">
    <a [class.hidden]="!isLoggedIn" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
    <a [class.hidden]="!isLoggedIn" routerLink="/dashboard" routerLinkActive="active">Tableau de Bord</a>
    <a [class.hidden]="!isLoggedIn"  routerLinkActive="active" (click)="logout()">Déconnexion</a>
    <a [class.hidden]="isLoggedIn" routerLink="/signup" routerLinkActive="active">Inscription</a>
    <a [class.hidden]="isLoggedIn" routerLink="/login" routerLinkActive="active">Connexion</a>
  </div>
</nav> -->
<div class="card">
  <p-menubar [model]="items"></p-menubar>
</div>


<router-outlet></router-outlet>
